@font-face {
  font-family: 'ArialRounded';
  src: url('./assets/fonts/arialroundedmtbold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #121212;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 10vh;
  padding: 1rem;
  background-image: url('./assets/header_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.intro-text {
  max-width: 600px;
}

.name {
  font-family: 'ArialRounded';
  font-size: 3rem;
  margin-bottom: 0.5rem;
}


.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #343434b3;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.profile-picture {
  max-width: 180px;
  visibility:visible;
  border-radius: 10px;
}


.subtitle-desktop-only{
  visibility:visible;
  width:auto;
  height:auto;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.subtitle-mobile-only{
  visibility:hidden;
  width:0;
  height:0;
  font-size: 0rem;
  margin-bottom: 0rem;
}


@media (max-width: 768px) {

  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-picture {
    visibility:hidden;
    width:0;
    height:0;
  }

  .social-icons {
    justify-content: center;
  }
  
  .subtitle-desktop-only{
    visibility:hidden;
    width:0;
    height:0;
    font-size: 0rem;
    margin-bottom: 0rem;
  }

  .subtitle-mobile-only{
    width:auto;
    height:auto;
    visibility:visible;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

}

